html,
body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  background-color: rgb(250, 250, 250);
}

.link1 {
  text-decoration: none;
  color: white;
}

.link1:hover {

  color: rgb(233, 176, 6);

}

.footerlist {
  list-style-type: none;
  color: white;
}

.footerlist li a {
  text-decoration: none;
  color: white;
}


.website {
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  width: 100%;
  font-family: sans-serif;
}

.werbung_l {
  background-color: rgb(255, 255, 255);
  width: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.werbung_r {
  background-color: rgb(255, 255, 255);
  width: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content {
  width: 60%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;

}

.header1 {
  width: 100%;
  height: 5%;
  background-color: #074b71;
  color: white;
  display: flex;
  justify-content: left;
  text-align: center;
  flex-wrap: wrap;
}

.content1 {
  width: 100%;
  height: 75%;
  background-color: rgb(255, 255, 255);
  text-align: center;
}

.footer1 {
  width: 100%;
  height: 20%;
  background-color: #074b71;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.nav1 {
  display: flex;
  width: 100%;
  font-size: 2em;
  align-items: center;
  justify-content: space-around;
  list-style-type: none;
}

@media (max-width: 1023px) {

  .werbung_l,
  .werbung_r {
    width: 0;
    display: none;
  }

  .content {
    width: 100%;
  }

}

@media (max-width: 450px) {
  .nav1 {
    display: block;
    height: auto;

  }

  .header1 {
    display: block;
    height: auto;

  }

}